body {
  padding-top: 50px;
}

.header-template {
  padding: 15px 5px;
  text-align: left;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #cccccc; /* Dark Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#tail {
    overflow: hidden;
}

pre {
	border: none;
    padding: 0px;
    margin: 0 0 0px;
    font-size: 11px;
    background-color: #ffffff;
}